@import "styles/vars";

.column {
  display: inline-block;
  margin: 0 4px;
  width: 270px;
  height: 100%;
  white-space: nowrap;

  &:first-child {
    margin-left: 8px;
  }
  &:last-child {
    margin-right: 8px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    white-space: normal;
    border-radius: 3px;
    background-color: $gray;
    max-height: 100%;
    // background-image: url("img/sprite.png");
    background-repeat: no-repeat;
    background-position: 10 30;
  }
  &__header {
    padding: 10px 8px;
    font-weight: 700;
  }
  &__body {
    overflow: hidden auto;
    padding: 0 4px;
    margin: 0 4px;
  }
  &__footer {
    padding: 0 8px 8px;
    &-controls {
      display: flex;
      align-items: center;
    }
  }
  &__add-btn {
    text-align: left;
    color: inherit;
    transition: background-color color linear 0.3s;
    &:hover {
      background-color: rgba(18, 18, 18, 0.05);
    }
  }
}
