.board {
  width: 100%;
  // heaight = 100% - header height + margin-botoom
  height: calc(100% - 58px);
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
  padding-bottom: 8px;
  &__nav {
    padding: 10px 4px;
    display: flex;
    align-items: center;
  }
  &__body {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    flex: 1 0;
  }
}
