@import "styles/vars";

.t-detail {
  .ant-modal-content {
    min-height: 30vh;
    height: 100%;
  }
  .ant-modal-body {
    height: calc(100% - 55px);
  }
  &__body {
    height: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    color: $black;
    margin-bottom: 10px;
  }
  &__description {
    margin-bottom: 0;
  }

}
